body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 30px;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: #333;
    width: 100%;
    margin-bottom: 40px;
    font-size: 3rem;
    text-transform: uppercase;
}

div {
    width: 38%; 
    height: auto;
    margin: 0 15px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(45deg, #dbc0ad, #d6a0ba);
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    box-sizing: border-box; 
}

div:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

div img {
    width: 100%;
    height: 50%; 
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
}

div:hover img {
    transform: scale(1.05); 
}

div h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

div p {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    line-height: 1.5;
    flex-grow: 1;
}

div a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    font-size: 16px;
    text-align: auto;
    transition: color 0.3s ease;
}

div a:hover {
    color: #d937f1;
    text-decoration: underline;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

div {
    animation: fadeInUp 1s ease-in-out;
}

